.cardContainer {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}


.cardSlider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 48px 10px;
    min-height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 176px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

